* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.png{
    height: 200px;
    background-size: cover;
    background-position: center;
}

.p1{
    background-image: url(img/box1.jpg);
}

.p2{
    background-image: url(img/box2.jpg);
}

.p3{
    background-image: url(img/box3.jpg);
}

.p4{
    background-image: url(img/box4.jpg);
}